/* My CSS Page. */

/* Basic element Formatting: */

body {
    background-color: #D4E6F1;
    color: #191970;
}

h1 {
    background-color: #76D7C4;
    color: #191970;
    text-align: center;
    padding: 2px;
    border: 4px solid black;
}

h2 {
    background-color: #aeaed4;
    color: #191970;
    text-align: center;
}

h3 {
    background-color: #AED6F1;
    color: #191970;
    text-align: center;
}

/*  This is a custom heading which will be used to start every page. (basically an H1) */
h6 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    background-color: #76D7C4;
    color: #191970;
    text-align: center;
}

#pic {
    text-align: center;
}


/* Start of Nav Bar */
nav {
    text-align: center;
}

.box a {
    color: #000000;
    text-decoration: none;
    margin-right: 15px;
    background-color: #E59866;
    border: 5px solid #E59866;
    border-left: 8px solid #E59866;
    border-right: 8px solid #E59866;
    font-weight: bold;
    border-radius: 25px;
    box-shadow: 0 0 5px #E59866, 0 0 20px #E59866, 0 0 40px #E59866;
}

.navButton {
    color: #000000;
    text-decoration: none;
    margin-right: 15px;
    background-color: #E59866;
    border: 5px solid #E59866;
    border-left: 8px solid #E59866;
    border-right: 8px solid #E59866;
    font-weight: bold;
    border-radius: 25px;
    box-shadow: 0 0 5px #E59866, 0 0 20px #E59866, 0 0 40px #E59866;
}

.box a:hover {
    background-color: #F7DC6F;
    border: 5px solid #F7DC6F;
    border-left: 8px solid #F7DC6F;
    border-right: 8px solid #F7DC6F;
    box-shadow: 0 0 5px #F7DC6F, 0 0 20px #F7DC6F, 0 0 40px #F7DC6F;
}

#active {
    background-color: #EC7063;
    border: 5px solid #EC7063;
    border-left: 8px solid #EC7063;
    border-right: 8px solid #EC7063;
    box-shadow: 0 0 5px #EC7063, 0 0 20px #EC7063, 0 0 40px #EC7063;
    
}

.boxSub a {
    color: #000000;
    text-decoration: none;
    margin-right: 15px;
    background-color: #E59866;
    border: 3px solid #E59866;
    box-shadow: 0 0 5px #E59866, 0 0 20px #E59866, 0 0 40px #E59866;
    border-left: 8px solid #E59866;
    border-right: 8px solid #E59866;
    font-weight: bold;
    border-radius: 15px;
}

.boxSub a:hover {
    background-color: #F7DC6F;
    border: 3px solid #F7DC6F;
    border-left: 8px solid #F7DC6F;
    border-right: 8px solid #F7DC6F;
}

/* Start of Dropdown Menu Stuff */



/* End of Dropdown Menu Stuff */
p {
    padding-left: 20%;
    padding-right: 20%;
    font-size: 17px;
}

ul{
    padding-left: 20%;
    padding-right: 20%;
    vertical-align: auto;
}

ol{
    padding-left: 20%;
    padding-right: 20%;
}

.column {
    float: left;
    width: 21.11%;
    font-family: sans-serif;
}

.projectColumn {
    float: left;
    width: 30%;
    font-family: sans-serif;
}

.columnDefault {
    display: inline-block;
}

.column5 {
    float: left;
    width: 30%;
}

#left {
    margin-left: 1.5%;
}

#right {
    margin-right: 3.333333323%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.linebreak {
    background-color: #AED6F1;
    color: #191970;
    text-align: center;
}

.ignore p {
    padding-left: 0%;
    padding-right: 0%;
}
.ignore ul {
    padding-left: 0%;
    padding-right: 0%;
}
.ignore ol {
    padding-left: 0%;
    padding-right: 0%;
}

.classIndent p{
    padding-left: 5%;
}


/* other colorful things */

.availability td {
  text-align: center;
}

.availability {
  border-collapse: separate;
  border-spacing: 15px 5px;
}

/* This is the "Back to the top" button. */

.box2 {
	text-align-last: center;
	margin-top: 25px;
}

.box2 a {
	color: #000000;
	background: #15f4ee;
	box-shadow: 0 0 5px #15f4ee, 0 0 20px #15f4ee, 0 0 40px #15f4ee;
	text-decoration: none;
	border: 5px solid #15f4ee;
	font-weight: bold;
}

.box2 a:hover {
	color: #000000;
	background: #39ff14;
	box-shadow: 0 0 5px #39ff14, 0 0 20px #39ff14, 0 0 40px #39ff14;
	border: 5px solid #39ff14;
}